.content {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  width: 485px;
  height: 105px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 106px;
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.number {
  font-size: 4rem;
  font-weight: 800;
  margin-right: 10px;
}

.column_text {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 600;
}
