.content {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  width: 485px;
  height: 105px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 106px;
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.number {
  font-size: 4rem;
  font-weight: 800;
  margin-right: 10px;
  color: var(--color-text);
}

.column_text {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-text);
}

@media screen and (max-width: 1376px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-right: 3.5rem;
  }
  .card {
    height: 160px;
    width: 280px;
    margin: 1rem 0px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    justify-content: space-between;
    margin-right: 0rem;
    margin-left: -1rem;
  }
  .card {
    height: 100%;
    width: 70%;
    margin: 2.5rem 0px;
  }
}
