.conten_search {
  width: 330px;
  height: 41px;
  align-items: center;

  display: flex;
  padding-left: 10;
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.finder {
  height: 100%;
  width: 100%;
  margin-left: 15px;
  background-color: transparent;
  border: none;
}
.search_icon {
  justify-content: left;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
