.card_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.content_incon_course {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -3.5rem;
  height: 64px;
  width: 64px;
  background-color: var(--background-color-icon);
  border-radius: 20px;
}

.content_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -3rem;
  height: 60px;
  max-height: 150px;
  width: 16rem;
}

.center_elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  height: 40px;
  width: 80px;
  max-width: 230px;
  background-color: blue;
}

.buttom {
  margin-right: -3.5rem;
}

@media screen and (max-width: 1000px) {
  .content_incon_course {
    margin-left: -1.3rem;
  }
  .content_text {
    margin-left: -1rem;
  }

  .center_elements {
    margin-left: 1rem;
    max-width: 60%;
  }
  .buttom {
    margin-right: -1.5rem;
  }
}
