.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 200px;
}

.box_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  margin-right: 8px;
  margin-bottom: 2px;
}
@media screen and (max-width: 1000px) {
  .content {
    width: 11rem;
  }
}
