.content_side_bar {
  margin-top: 10px;
  width: 100vh;
  height: 852px;
  padding: 0px;
}

.side_bar {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 132px;
  height: 852px;
  padding-left: 20px;
  border: solid 1px var(--primary-color);
  border-color: black;
  background-color: var(--primary-color);
  border-radius: 25px;
  box-shadow: 29px 20px 25px -9px rgba(0, 0, 0, 0.37);
}

.logo_section {
  margin: auto;
  display: flex;
  position: relative;
  top: -8rem;

  width: 60px;
  height: 60px;
}

.content_logo {
  width: 47px;
  height: 60px;
}

.logo {
  height: 64px;
  width: 47px;
}

.icons_section {
  display: flex;
  position: relative;
  top: -12rem;
  flex-direction: column;
  align-items: center;
  width: 47px;
  height: 400px;
}
.content_icon {
  height: 64px;
  width: 47px;
  padding-bottom: 12px;
}

.icon {
  height: 26px;
  width: 26px;
}

.logout_section {
  margin: 0 auto;
  display: flex;
  position: inherit;
  bottom: 50px;
  width: 60px;
  height: 30px;
}

@media screen and (max-width: 1376px) {
  .side_bar {
    margin-top: 1rem;
    margin-left: 1rem;
    position: fixed;
  }

  .icons_section {
    display: flex;
    position: relative;
    margin-left: 1.2rem;
  }

  .logout_section {
    display: flex;
    position: relative;
    bottom: 50px;
    width: 60px;
    height: 30px;
  }
}
