:root {
  --primary-color: #000000;
  --secondary-color: #f5f5f7;
  --text-color: #000000;
  --background-color: #ffffff;
  --background-color-icon: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
